button {
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 9px 25px 0 rgba(0,0,0,0.19);
    font-family: $cta!important;
    background-color: #E59A7E;
    border-style: inset;
    float: initial;
    border-color: white;
}