$header-size: 48px;
$subheader-size: 24px;
$content-size: 16px;
$footer-size: 11px;

$header-font: "Poiret One", bold;
$nav-font: "Poiret One", bold;
$subheader-font: "Open Sans" sans-serif;
$cta: "Righteous" cursive;